<h1><%= @task.name %></h1>
<p> <%= @task.details  %></p>
<p><%=link_to "edit", task_path(@task)  %></p>
<p><%= link_to 'Remove task from list', task_path(@task), method: :delete %>
<p><%= link_to 'List', tasks_path %></p>
